body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden auto;
}

.cursor-pointer{
  cursor: pointer;
}

.hover-underline:hover{
  text-decoration: underline;
}

.wh28{
  width: 28px;
  height: 28px;
}